# Dependências do Node.js
# Esta pasta é recriada com o comando 'npm install'
node_modules

# Arquivo de Ambiente - NUNCA ENVIE ISTO PARA O GITHUB!
# Contém senhas e chaves secretas.
.env

# Pasta de build (código compilado de TypeScript para JavaScript para produção)
dist
build

# Logs de erro e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db