/* src/components/Sidebar/Sidebar.module.css */
.sidebar {
  width: 250px;
  background-color: var(--cor-fundo-secundario);
  padding: 1.5rem;
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

/* Nova classe para o LINK da logo */
.logoLink {
  display: block; /* Garante que o link se comporte como um bloco */
  align-self: center; /* Centraliza o link (e a logo dentro dele) */
   /* Adiciona o espaçamento inferior */
}

/* A classe da IMAGEM agora só cuida do tamanho */
.logo {
  height: 80px; /* Mantendo o tamanho que você gostou */
  width: auto; /* Garante a proporção */
  align-self: top;
  margin-bottom: 0.5rem; /* Adiciona uma margem extra abaixo da logo */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav a {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  color: var(--cor-texto-principal);
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.sidebar nav a:hover {
  background-color: var(--cor-fundo-principal);
}

.sidebar nav a.active {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-branco);
}