/* src/App.module.css */
.appContainer {
  display: flex;
}

.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto; /* Adiciona scroll apenas na área de conteúdo */
  padding: 1.5rem;
}

/* Media Query para telas menores (ex: celulares) */
@media (max-width: 768px) {
  .mainContent {
    padding: 1rem;
  }
}