/* src/App.module.css */
.appContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Evita barras de rolagem no container principal */
}

.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto; /* Adiciona scroll apenas na área de conteúdo */
}